html, body {
    margin: 0;
    padding: 0;
    background-color: transparent;
    overflow-x: hidden; /* evita scroll horizontal */
}
header{
    align-items: center;
    background: linear-gradient(to top, #0A002E, #0C0064);
    margin: 0;
    padding: 10px;
}
h2{
    background: linear-gradient(to top, #0A002E, #0C0064);
    border-radius: 8px;
    margin-left: 11.5%;
    margin-right: 11.5%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20PX;
    color: #FFFFFF;
    text-align: left;
    font-size: 32px;
    font-weight: 600;
    font-family: Segoe UI, sans-serif;
    margin-bottom: 5px;
    text-shadow: 1px 1px 3px #000;
}

.home{
    background-image: url("padrao.jpg");
    background-repeat: repeat;             
    background-size: 100%;                 
    background-position: top left;       
    min-height: 100vh;                    
    width: 100%;
    padding-right: 20px;
    padding-bottom: 20px;
    box-sizing: border-bo;
}

h1{
    margin-left: 10%;
    color: #FFFFFF;
    text-align: left;
    font-size: 48px;
    font-weight: bold;
    font-family: Segoe UI, sans-serif;
    text-shadow: 1px 1px 4px #000;
    
}

.button{
    
    background: linear-gradient(to top, #0A002E, #0C0064); 
    color: white;
    font-family: Segoe UI, sans-serif;
    border-radius: 8px;
    padding: 12px 20px;
    margin-right: 10px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;    
}

.div-button{
    margin-top: 5px;
    margin-left: 11.5%;
    padding-left: 0px;
    margin-bottom: 5px;
}

.hover:hover{
    background: linear-gradient(to top, #0A002E, #0000); 
}

.dashboard{
   
    display: flex;
    flex-wrap: wrap;  
    gap: 20px;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 0;
    margin-bottom: 0;
}